body {
    padding: 0;
    text-align: center;
}

.background {
  background-image: url("/images/pitch1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
  filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  .logo-img {
    width: 350px;
  }
  
  #start-button {
    border-radius: 12.5px;
    border: 2px solid #A0A0A0;
    font-family: 'Harry Potter', sans-serif;                                        
    font-size: 30px;
    background-color: transparent;
    color: #333;
    padding: 10px 25px;
    box-shadow: 0;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #start-button:hover {
    background: rgba(255,255,255, .5);
  }

  #start-button:active{
    box-shadow: inset 5px 5px 5px 5px rgba(0,0,0, .5);
  }

.instructions {

}
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }
  